* {
    box-sizing: border-box;
}

:root {
    --BG-Header-color: #2d4769;
    --BG-Main-color: #c5d9ec;
    --BG-locList: #ffe9ae;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(0, 0, 0);
}

body {
    background-color: var(--BG-Main-color);
    padding: 0;
    margin: 0;
}

input,
button {
    font-size: inherit;
}

/* ------------------ General container ------------------*/

.grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: 1fr 3fr 1fr;
}

.header {
    grid-column: 1 / -1;
    grid-row: 1 / span 1;
    border: black 2px solid;
    background-color: var(--BG-Header-color);
    margin: 10px;
    padding: 1em;
    text-align: center;  
    color: #ffffff;

}

.main {
    grid-column: 1 / span 3;
    grid-row: 2 / span 1;
    border: black 2px solid;
    /* background-color: whitesmoke; */
    background-color: var(--BG-Main-color);
    margin: 20px;

    background-image: url(../img/053-free-vector-world-map.png);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.footer {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    border: black 2px solid;
    height: 130px;
    margin: 20px;
}
/* ------------------ Header ------------------*/

.grid-header-container {
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr 1fr;
    justify-content: space-between;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    /* margin: 1.5em; */
    /* font-size: 48px; */
    color: #ffffff;
    grid-row: 1 /span 1 ;
    grid-column: 1 /2 ;
}

header .search-nav {
    /* font-size: 1.3rem; */
    /* background-color: var(--BG-Main-color); */
    grid-row: 1 /span 1 ;
    grid-column: 2 /3 ;
    padding: 1em;
}

header .search-nav * {
    padding: 0.2em;
}

header .search-nav-box {
    width: 15em;
    font-weight: lighter;
}

.selected-location-nav {
    grid-row: 2 / 3;
    grid-column: 1/-1;
    height: 100%;
}

/* ------------------ Main container ------------------*/

.grid-main-container {
    /* background-color: whitesmoke; */
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    border: black 2px solid;
}

.item {
    text-align: center;
    padding: 10px;
    margin: 10px;
    height: 90%;
}

.item-weater {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    border: black 2px solid;
}

.item-location-list {
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
    border: black 2px solid;
}


/* ------------------ Elhanan ------------------*/


.title-location-list{
    background-color: var(--BG-Header-color);
    color: #ffffff;
    margin: 0;
    padding: 0.2s;
}

.tabel-warper {
    position: relative;
    height: 150px;
    overflow-y:scroll;  
}

.location-list {
    margin: 0;
    overflow-y: scroll;
    height: 150px;
}
.location-list > tr{
    background-color: var(--BG-locList);
    padding: 0.5em;
    margin: 0.2em 0;
    text-align: justify;
}
.location-list > tr:hover{
    background-color: rgb(187, 174, 245);
}

.location-list td{
    padding: 0.2em;
    margin: 0;
    width: 100%;
}


.item-map {
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    border: black 2px solid;

}


/* ------------------ Weater ------------------*/

.weater-details {
    text-align: left;
}



/* list-helpers */
.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.water-header{
    margin: 5px;
    padding: 5px;
    font-size: 24px;
}